## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

In [1]:
# Use this cell to begin your analyses, and add as many cells as you would like!
import pandas as pd

df = pd.read_csv('datasets/lego_sets.csv')
parent_theme = pd.read_csv('datasets/parent_themes.csv')

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
# whem set_num = null, the row is invalid -> remove all row with null value
df = df[~df['set_num'].isnull()]

In [4]:
df
parent_theme

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11828,Wauwatosa-1,"LEGO Store Grand Opening Exclusive Set, Mayfai...",2012,15.0,LEGO Brand Store,LEGO Brand Store
11829,WHITEHOUSE-1,Micro White House,2015,NaN,Promotional,Promotional
11830,Wiesbaden-1,"LEGO Store Grand Opening Exclusive Set, Wiesba...",2010,146.0,LEGO Brand Store,LEGO Brand Store
11831,WishingWell-1,Wishing Well [Toys R Us Promo],2013,NaN,Friends,Friends
11832,wwgp1-1,Wild West Limited Edition Gift Pack,1996,NaN,Cowboys,Western

      id          name  is_licensed
0      1       Technic        False
1     22       Creator        False
2     50          Town        False
3    112        Racers        False
4    126         Space        False
..   ...           ...          ...
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

[111 rows x 3 columns]

In [5]:
# check missing value
print("parent_theme - missing data")
for col in parent_theme.columns:
    print(parent_theme[col].name,":",parent_theme[col].isnull().mean()*100,'%')

    
print("df - missing data")
for col in df.columns:
    print(df[col].name,":",df[col].isnull().mean()*100,'%')

parent_theme - missing data
id : 0.0 %
name : 0.0 %
is_licensed : 0.0 %
df - missing data
set_num : 0.0 %
name : 0.0 %
year : 0.0 %
num_parts : 42.23780951576101 %
theme_name : 0.0 %
parent_theme : 0.0 %

In [6]:
# num_parts miss is acceptable

In [7]:
#1: What percentage of all licensed sets ever released were Star Wars Themed?

In [8]:
# merge 2 df
full_df = df.merge(parent_theme, left_on='parent_theme', right_on='name').drop(['name_y', 'id'], axis=1)
full_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,False
...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,True

In [9]:
licensed_df = full_df[full_df['is_licensed']]
licensed_df

,set_num,name_x,year,num_parts,theme_name,parent_theme,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,True
...,...,...,...,...,...,...,...
11828,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,True
11829,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,True
11830,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,True
11831,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,True
11832,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,True

In [10]:
# check set_num duplicated
licensed_df.duplicated(subset=['set_num']).sum()

0

In [11]:
licensed_df.reset_index(drop=True)['parent_theme'].value_counts(normalize=True)

Star Wars                           0.516539
Super Heroes                        0.205259
Harry Potter                        0.056828
The Hobbit and Lord of the Rings    0.033927
Minecraft                           0.025445
Disney Princess                     0.024597
Cars                                0.022901
Teenage Mutant Ninja Turtles        0.017812
Indiana Jones                       0.016115
Pirates of the Caribbean            0.014419
Toy Story                           0.012723
SpongeBob SquarePants               0.011874
The Lone Ranger                     0.006785
Jurassic World                      0.005937
Scooby-Doo                          0.005089
Disney's Mickey Mouse               0.005089
Prince of Persia                    0.005089
Angry Birds                         0.005089
Ben 10                              0.005089
Avatar                              0.001696
Disney                              0.000848
Ghostbusters                        0.000848
Name: parent_theme, dtype: float64

In [17]:
#1: What percentage of all licensed sets ever released were Star Wars Themed?
# Ans(%):
the_force = licensed_df.reset_index(drop=True)['parent_theme'].value_counts(normalize=True)[0]*100
the_force

51.653944020356235

In [13]:
#2: In which year was Star Wars not the most popular licensed theme?

In [14]:
# count the most pop theme, group by year and 
grouped_df = licensed_df.reset_index(drop=True).groupby(by='year')['parent_theme'].apply(lambda x: x.value_counts(normalize=True).head(1))
grouped_df

year
1999  Star Wars       1.000000
2000  Star Wars       0.838710
2001  Star Wars       0.560000
2002  Star Wars       0.560000
2003  Star Wars       0.800000
2004  Star Wars       0.500000
2005  Star Wars       0.800000
2006  Star Wars       0.458333
2007  Star Wars       0.761905
2008  Star Wars       0.534884
2009  Star Wars       0.812500
2010  Star Wars       0.476190
2011  Star Wars       0.395062
2012  Star Wars       0.394495
2013  Star Wars       0.406977
2014  Star Wars       0.454545
2015  Star Wars       0.542056
2016  Star Wars       0.504132
2017  Super Heroes    0.503497
Name: parent_theme, dtype: float64

In [18]:
#2: In which year was Star Wars not the most popular licensed theme?
# ans: 2017
new_era = 2017

In [19]:
#DONE